<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理系统</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div id="form">
    <form  method="post">
        <table>
            <tr>
                <td><span>用户名： </span></td>
                <td><input type="text" name="name" placeholder="" /></td>
            </tr>
            <tr>
                <td> <span>密码： </span></td>
                <td><input type="password" name="password" placeholder=""/></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="登陆"/>
                    <a href='http://localhost:8080/register' target="_blank">注册</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>