<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>管理系统</title>
    <link rel="stylesheet" href="/css/manage.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="/js/common.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        function changeColor(el) {
            var color = $(el).css("background-color");
            $(".li").css("background-color", "#374850");
            $(el).css("background-color", "#0000FF");

        }
    </script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
<div class="navbar navbar-fixed-top navbar-nav navbar-inverse" style="background-color:#03A9F0">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: white;">后台管理系统</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
            <li><a id="user" href="#" style="color: white; size: 22px">欢迎登陆</a></li>
            <li><img src="/img/123.jpg" class="img-circle" style="width: 50px;height: 50px; padding:5px"/></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">账号管理<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header" th:text="${username}" style="color: #000;"></li>
                    <li class="divider"></li>
                    <li><a href="#">更改密码</a></li>
                    <li><a href="#" onclick="putHeadPic()">更换头像</a></li>
                    <li><a href="#" onclick="getCancel()">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container" style="height: 100%;width: 200px;float:left;">
    <div class="row" style="background-color:#1e282c;display: inline-block;height:100%;width: 200px;">
        <div style="background-color:#1e282c;display: inline-block;height:100%;width: 200px;">
            <!--<div style="display: block;float: left;margin-top:80px;margin-left:10px;width:auto;height: 30px;">-->
                <!--<div style="float:left">-->
                    <!--<img class="img-circle" src="apiManage/avatar" width="30px" height="30px"/>-->
                <!--</div>-->
                <!--<div style="float:left;padding-left:30px;padding-top:20px">-->
                    <!--<span style="color: white;size: 22px;" th:text="${username}"></span>-->
                <!--</div>-->
            <!--</div>-->
            <ul class="list-group" style="margin-top:100px;">
                <!--<li class="divider" style="background-color: white;height:1px;"></li>-->
                <li class="li" style="display:block;text-align: left ;height: 60px;line-height: 60px" data-toggle="collapse" data-parent=".list-group" data-target="#api_manage">
                    <div style="margin-left: 30px">
                        <span class="glyphicon glyphicon-dashboard"
                              style="font-size: 20px;color: white; display:inline-block;vertical-align:middle;margin-right: 10px"></span>
                        <span style="color: white; size: 22px; display:inline-block;vertical-align:middle;">API管理</span>
                    </div>
                </li>
                <li id="api_manage" class="collapse in" style="background-color: #374850;display:block;text-align: left ;height: 30px;line-height: 30px">
                    <div >
                        <span style="margin-left:30px;color: white; size: 22px; display:inline-block;vertical-align:middle;">文件上传</span>
                    </div>
                </li>

                <!--<li class="divider" style="background-color: white;height:1px;"></li>-->
                <li class="li" style="display:block;text-align: left;height: 60px;line-height: 60px" onclick="changeColor(this)">
                    <div style="margin-left: 30px">
                        <span class="glyphicon glyphicon-stats"
                              style="font-size: 20px;color: white; display:inline-block;vertical-align:middle;margin-right: 10px"></span>
                        <span style="color: white; size: 22px; display:inline-block;vertical-align:middle;">API运行状态</span>
                    </div>
                </li>
                <!--<li class="divider" style="background-color: white;height:1px;"></li>-->
                <li class="li" style="display:block;text-align: left;height: 60px;line-height: 60px" onclick="changeColor(this)">
                    <div style="margin-left: 30px">
                        <span class="glyphicon glyphicon-question-sign"
                              style="font-size: 20px;color: white; display:inline-block;vertical-align:middle;margin-right: 10px"></span>
                        <span style="color: white; size: 22px; display:inline-block;vertical-align:middle;">帮助</span>
                    </div>
                </li>
                <!--<li class="divider" style="background-color: white;height:1px;"></li>-->
                <li class="li" style="display:block;text-align: left;height: 60px;line-height: 60px" onclick="changeColor(this)">
                    <div style="margin-left: 30px">
                        <span class="glyphicon glyphicon-asterisk"
                              style="font-size: 20px;color: white; display:inline-block;vertical-align:middle;margin-right: 10px"></span>
                        <span style="color: white; size: 22px; display:inline-block;vertical-align:middle;">配置</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>