<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理系统</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>var validForm = function () {
        var name = document.forms["registerForm"]["name"].value;
        if (name == null || name ==""){
            alert("name必须填写");
            return false;
        }
        var password = document.forms["registerForm"]["password"].value;
        var passwordRepeat = document.forms["registerForm"]["passwordRepeat"].value;
        if(password == null || password == ""){
            alert("password必须填写");
            return false;
        }
        if(passwordRepeat == null || passwordRepeat == ""){
            alert("password必须填写");
            return false;
        }

        if (password == passwordRepeat) {
        } else {
            alert("密码填写不一致");
            return false;
        }
        return true;

    };
    </script>

</head>
<body>
<div class="container">
    <div id="form">
        <form  name = "registerForm" onsubmit="return validForm();" class="form-signin" method="post">
            <h2 class="form-signin-heading">管理系统注册</h2>
            <input type="text" name="name" placeholder="用户名" class="form-control"/>
            <input type="password" name="password" placeholder="密码" class="form-control"/>
            <input type="password" name="passwordRepeat" placeholder="再次输入" class="form-control"/>
            <div class="row" >
                <div class="col-lg-12 my-list">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>